<aside class="main-sidebar">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">
	  <!-- Sidebar user panel -->
	  <div class="user-panel">
		<div class="pull-left image">
		  <img src="/resource/dist/img/Nurse1.jpg" class="img-circle" alt="User Image">
		</div>
		<div class="pull-left info">
		  <p>Nurse</p>
		  <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
		</div>
	  </div>
	  <!-- sidebar menu: : style can be found in sidebar.less -->
	  <ul class="sidebar-menu">
		<li class="header">NAVIGATION PANEL</li>
		<!-- <li><a href="/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>-->	
		<li><a href="/calls"><i class="fa fa-phone-square"></i> <span>Calls</span>
		<!-- <span class="label label-danger pull-right">26</span>--></a></li>
		<!--<li><a href="/devices"><i class="fa fa-laptop"></i> <span>Devices List</span>-->
		<!-- <span class="label label-danger pull-right">7</span>--></a></li>
		<li><a href="/callhistory"><i class="fa fa-list-alt"></i> <span>History</span></a></li>
		<!-- <li><a href="/relationTable"><i class="fa fa-sitemap"></i> <span>Relation Table</span><!-- <span class="label label-danger pull-right">7</span>--></a></li>-->
	  </ul>
	</section>
	<!-- /.sidebar -->
  </aside>